@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
    font-style: normal;
  }

  .menu-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 0;
  }

  .hamburger {
    display: none;
  }

  .menu ul {
    display: flex;
    float: right;
    text-align: center;
    text-decoration: none;
  }

  .menu ul li {
    padding: 24px;
    color: #344563;
    font-weight: 500;
    font-size: 15px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 150px;
    background-image: url('img/Header\ bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    height: 100vh;
    background-color: #fff;
  }

  .cards {
    height: auto;
    width: 100%;
  }

  .left-block {
    padding: 20px;
  }

  .card-work,
  .card-work_desktop_two {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;
    grid-column-gap: 20px;
    padding: 40px;
    background-color: #fff;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid #def1e6;
  }

  .card-work_desktop_two button {
    background-color: #4053fc;
    color: #fff;
  }

  .snapshot {
    padding: 155px;
    background-image: url('img/desktop\ img\ 1.jpg');
  }

  .card-work_two,
  .card-work_three,
  .card-work_four {
    display: none;
  }

  .card-work_desktop,
  .card-work_desktop_three {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;
    grid-column-gap: 20px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid #def1e6;
  }

  .snapshot1 {
    padding: 155px;
    background-image: url("img/Desktop-card\ 2.jpg");
  }

  .snapshot2 {
    padding: 155px;
    background-image: url("img/Snapshoot\ Portfolio.jpg");
  }

  .snapshot3 {
    padding: 155px;
    background-image: url("img/Snapshoot\ Portfolio\ \(1\).jpg");
  }

  .about-myself {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    align-items: center;
    width: 100%;
    padding: 30px;
    height: auto;
    height: 900px;
  }

  .top-right {
    padding: 20px;
    margin-bottom: 30px;
  }

  .top-left {
    padding: 20px;
    margin-bottom: 30px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: auto;
    margin-top: -70px;
  }

  .contact-info {
    width: 70%;
    text-align: center;
    padding: 25px;
  }

  .contact_form {
    width: 70%;
    text-align: center;
    padding: 25px;
  }
}
