* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.main {
  width: 375px;
  height: 5410px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 789px;
}

.menu-bar {
  position: absolute;
  width: 375px;
  height: 70px;
  padding: 20px;
  background-color: #fff;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  color: #6070ff;
  flex: 1;
  width: 76px;
  height: 20px;
  line-height: 20px;
  display: flex;
}

.bar {
  margin: 5px;
  height: 3px;
  width: 30px;
  display: block;
  background-color: #6070ff;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url('img/header-shapes\ mobile@2x.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  padding: 20px;
  height: 718px;
  width: 375px;
  background-position: 100%;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 150px;
  color: #172b4d;
  align-items: center;
  left: 24px;
}

.text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  top: 276px;
  left: 24px;
}

.connect a {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-connect ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  flex-direction: row;
}

li {
  list-style: none;
}
